.loading-widget {
	display: flex;
	flex-direction: column;
	gap: calc(8 * var(--unit));
	border: 1px solid var(--app-0);
	border-radius: calc(4 * var(--unit));
	padding: calc(8 * var(--unit));

	.loading-message {
		svg {
			display: inline-block;
			vertical-align: text-bottom;
			padding-inline-end: calc(4 * var(--unit));
			width: auto;
			height: 1em;
		}
	}
}
