@import "../global.css";

body {
	margin: 0;
	background-color: var(--background-colour, var(--colour-0));
	padding: 8px;
	width: 22em !important;
	height: 30rem;
	color: var(--text-colour, var(--text-colour-normal));
}

/* Layout */

#loading-wrapper {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	z-index: 100;
	margin: 0;
	inset: 0;
	background-color: var(--background-colour, var(--colour-0));
	padding: 1rem;
	color: var(--text-colour, var(--text-colour-normal));
}

#settings-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 100%;

	> * {
		flex: 0 1 auto;
	}
}

#info-display-wrapper,
#colour-correction-info {
	display: block;
	margin: 0;
	border-radius: 4px;
	padding: 8px;
	text-align: left;
}

hr {
	margin-block: 4px;
	border-width: 0;
	background-color: var(--transparent-0);
	width: 100%;
	height: 1px;
	color: var(--transparent-0);
}

.section-group-title {
	position: sticky;
	top: 0;
	z-index: 10;
	background-image: linear-gradient(
		to top,
		transparent,
		var(--background-colour, var(--colour-0)) 16px
	);
	padding: 8px 4px 16px;
	font-weight: 600;
	text-align: center;
}

.section-group {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	border: 1px solid var(--transparent-0);
	border-radius: 4px;
	min-height: 0;
	overflow-x: hidden;
	overflow-y: scroll;

	> * {
		flex: 1 1 auto;
	}
}

.section {
	display: contents;
}

.section-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-block: 4px;
	text-align: center;

	&::before,
	&::after {
		flex: 1;
		border-bottom: 1px solid var(--transparent-0);
		content: "";
	}
}

#info-display-wrapper,
#colour-correction-info {
	border: 1px solid var(--transparent-0);
	line-height: 1.5rem;
}

.info-display {
	display: none;

	> div {
		display: inline;
	}

	button.info-action {
		display: block;
		margin-top: 0.5em;
		background-color: var(--transparent-0);
		width: 100%;
		text-align: center;

		&:hover {
			background-color: var(--transparent-1);
		}
		&:active {
			background-color: var(--transparent-3);
		}
	}

	.additional-info {
		font-weight: 600;
		font-family: monospace;
	}
}

.PROTECTED_PAGE > .info-display[name="PROTECTED_PAGE"],
.HOME_PAGE > .info-display[name="HOME_PAGE"],
.TEXT_VIEWER > .info-display[name="TEXT_VIEWER"],
.IMAGE_VIEWER > .info-display[name="IMAGE_VIEWER"],
.PDF_VIEWER > .info-display[name="PDF_VIEWER"],
.JSON_VIEWER > .info-display[name="JSON_VIEWER"],
.ERROR_OCCURRED > .info-display[name="ERROR_OCCURRED"],
.FALLBACK_COLOUR > .info-display[name="FALLBACK_COLOUR"],
.COLOUR_PICKED > .info-display[name="COLOUR_PICKED"],
.ADDON_SPECIFIED > .info-display[name="ADDON_SPECIFIED"],
.ADDON_RECOM > .info-display[name="ADDON_RECOM"],
.ADDON_DEFAULT > .info-display[name="ADDON_DEFAULT"],
.THEME_UNIGNORED > .info-display[name="THEME_UNIGNORED"],
.THEME_MISSING > .info-display[name="THEME_MISSING"],
.THEME_IGNORED > .info-display[name="THEME_IGNORED"],
.THEME_USED > .info-display[name="THEME_USED"],
.QS_USED > .info-display[name="QS_USED"],
.QS_FAILED > .info-display[name="QS_FAILED"],
.QS_ERROR > .info-display[name="QS_ERROR"],
.COLOUR_SPECIFIED > .info-display[name="COLOUR_SPECIFIED"] {
	display: contents;
}

/* Button */

button {
	display: flex;
	align-items: center;
	margin: 0;
	border: none;
	border-radius: 4px;
	background-color: transparent;
	padding: 8px;
	color: inherit;
	text-align: left;

	&:hover {
		background-color: var(--transparent-0);
	}
	&:active {
		background-color: var(--transparent-2);
	}
}

/* Slider */

.slider {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 8px 16px 8px 8px;

	.slider-title {
		margin-right: auto;
		text-align: center;
	}

	.slider-body {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		text-align: center;

		&::after {
			margin-inline-start: 0.2em;
			content: "%";
		}
	}

	button {
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: var(--transparent-0);
		padding: 0;
		width: 1.25rem;
		height: 1.25rem;

		&:hover {
			background-color: var(--transparent-1);
		}
		&:active {
			background-color: var(--transparent-3);
		}
	}
}
