:root {
	--unit: 0.0625rem;

	--bg-app: hsl(240 10% 95%);
	--bg-panel: hsl(0 0% 97.5%);
	--bg-panel-alt: hsl(0 0% 100%);

	--text-primary: hsl(0 0% 0%);
	--text-secondary: hsl(0 0% 20%);

	--control-bg: hsl(240 10% 90%);
	--control-bg-hover: hsl(240 10% 85%);
	--control-bg-active: hsl(240 10% 80%);
	--control-bg-selected: hsl(240 10% 75%);

	--link-primary: #0060df;
	--link-hover: #0250bb;
	--link-active: #054096;

	--glyph-foreground: #77758d;
	--glyph-background: #dbdaeb;

	--accent-primary: #0060df;

	--shadow-1:
		0px 10px 20px -6px rgba(0, 0, 0, 0.235),
		0px 6px 8px -3px rgba(0, 0, 0, 0.134);

	@media (prefers-color-scheme: dark) {
		--bg-app: #23222b;
		--bg-panel: #313040;
		--bg-panel-alt: #363446;
		--bg-panel-hover: #3c3b4e;
		--bg-panel-active: #5a5874;
		--bg-panel-selected: #4e4d66;

		--text-primary: #ffffff;
		--text-secondary: #cccccc;

		--control-bg: #77758d;
		--control-bg-hover: #7f7c94;
		--control-bg-active: #716e85;
		--control-bg-inactive: #4d4b60;
		--control-bg-selected: #5e5b71;

		--glyph-foreground: #77758d;
		--glyph-background: #4d4b60;

		--link-primary: #61dce9;
		--link-hover: #80ebff;
		--link-active: #aaf2ff;

		--accent-primary: #61dce9;
	}
}

.hidden {
	display: none !important;
}

.disabled {
	opacity: 0.5 !important;
	pointer-events: none !important;

	* {
		pointer-events: none !important;
	}
}

html {
	font-size: 1rem;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	font-family:
		system-uibody,
		-apple-system,
		"SF Pro Text",
		"SF Pro Icons",
		"Helvetica Neue",
		"Helvetica",
		"Arial",
		sans-serif;
	-webkit-font-smoothing: antialiased;
}

#root {
	width: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

input,
textarea,
select {
	font: inherit;
}

button {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow-1);
	background-color: var(--control-bg);
	color: var(--text-primary);
	text-align: center;

	&:hover {
		background-color: var(--control-bg-hover);
	}

	&:active {
		box-shadow: none;
		background-color: var(--control-bg-active);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: calc(16 * var(--unit));
	font: inherit;
	font-size: inherit;
	text-wrap: balance;
	overflow-wrap: break-word;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h4,
h5,
h6 {
	color: var(--text-secondary);
	font-size: 80%;
}

p {
	color: var(--text-secondary);
	font: inherit;
	text-wrap: pretty;
	overflow-wrap: break-word;
}

a {
	&:link,
	&:visited {
		color: var(--link-primary);
		text-decoration: none;
	}
	&:hover {
		color: var(--link-hover);
		text-decoration: underline;
	}
	&:active {
		color: var(--link-active);
		text-decoration: underline;
	}
}

hr {
	margin: 0;
	border-width: 0;
	background-color: var(--control-bg-hover);
	width: 100%;
	height: calc(1 * var(--unit));
}

svg {
	align-self: center;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: calc(1 * var(--unit));
	margin: 0;
	width: calc(16 * var(--unit));
	height: calc(16 * var(--unit));
}

.switch {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	border-radius: calc(4 * var(--unit));
	width: 100%;
	height: auto;
	overflow: hidden;

	button {
		box-shadow: none;
		background-color: var(--control-bg-inactive);

		&:hover {
			background-color: var(--control-bg-hover);
		}

		&.active {
			background-color: var(--control-bg-selected);
			color: var(--accent-primary);
		}
	}

	&.tab-switch {
		border-radius: calc(infinity * var(--unit));
		font-weight: 800;

		button {
			background-color: var(--bg-panel);
			padding: calc(8 * var(--unit)) calc(32 * var(--unit));

			&:hover {
				background-color: var(--bg-panel-hover);
			}

			&.active {
				background-color: var(--bg-panel-selected);
				color: var(--accent-primary);
			}
		}
	}
}

.slider {
	display: flex;
	flex-direction: column;

	.body {
		display: flex;
		flex-direction: row;
	}

	.track {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-position-x 0.1s ease-in;
		cursor: grab;
		background-image: linear-gradient(
			to right,
			var(--control-bg),
			var(--control-bg) 50%,
			var(--control-bg-inactive) 50%
		);
		background-size: 200% 100%;
		background-color: var(--control-bg-active);
		background-position-x: var(--position, 100%);
		line-height: 100%;
		text-align: center;

		&:hover {
			background-image: linear-gradient(
				to right,
				var(--control-bg-hover),
				var(--control-bg-hover) 50%,
				var(--control-bg-inactive) 50%
			);
		}

		&.dragging {
			transition: none;
			cursor: grabbing;
			background-image: linear-gradient(
				to right,
				var(--control-bg-active),
				var(--control-bg-active) 50%,
				var(--control-bg-inactive) 50%
			);
		}
	}
}

input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	outline: none;
	outline-offset: -1px;
	border: none;
	background-color: var(--control-bg-inactive);
	color: inherit;
	color: var(--text-primary);
	line-height: 100%;
	font-family: monospace;

	&:hover {
		background-color: var(--control-bg-hover);
	}

	&:focus-visible {
		outline: solid 1px var(--control-bg-hover);
		background-color: transparent;
	}
}

select {
	display: flex;
	vertical-align: middle;
	border: none;
	background-color: var(--control-bg-inactive);
	width: max-content;
	color: var(--text-primary);

	&:hover {
		background-color: var(--control-bg-hover);
	}

	&:active {
		background-color: var(--control-bg-selected);
	}
}
