:root {
	--unit: 0.0625rem;

	--app: hsl(247, 12%, 100%);
	--panel: hsl(247, 12%, 78%);
	--panel-alt: hsl(247, 12%, 76%);
	--panel-hover: hsl(247, 12%, 73%);
	--panel-active: hsl(247, 12%, 75%);
	--panel-selected: hsl(247, 12%, 65%);
	--panel-selected-hover: hsl(247, 12%, 50%);
	--panel-selected-active: hsl(247, 12%, 62%);

	--control: hsl(247, 12%, 49%);
	--control-hover: hsl(247, 12%, 47%);
	--control-active: hsl(247, 12%, 52%);
	--control-secondary: hsl(247, 12%, 64%);
	--control-secondary-hover: hsl(247, 12%, 60%);
	--control-secondary-active: hsl(247, 12%, 62%);

	--glyph-foreground: hsl(247, 12%, 49%);
	--glyph-background: hsl(247, 12%, 66%);

	--text-primary: hsl(0 0% 0%);
	--text-secondary: hsl(0 0% 20%);

	--link-primary: #0060df;
	--link-hover: #0250bb;
	--link-active: #054096;

	--accent-primary: #0060df;

	--shadow-1: 0px 10px 20px -6px #0000003c, 0px 6px 8px -3px #00000022;

	@media (prefers-color-scheme: dark) {
		--app: hsl(247, 12%, 15%);
		--panel: hsl(247, 12%, 22%);
		--panel-alt: hsl(247, 12%, 24%);
		--panel-hover: hsl(247, 12%, 27%);
		--panel-active: hsl(247, 12%, 25%);
		--panel-selected: hsl(247, 12%, 35%);
		--panel-selected-hover: hsl(247, 12%, 40%);
		--panel-selected-active: hsl(247, 12%, 38%);

		--control: hsl(247, 12%, 51%);
		--control-hover: hsl(247, 12%, 53%);
		--control-active: hsl(247, 12%, 48%);
		--control-secondary: hsl(247, 12%, 34%);
		--control-secondary-hover: hsl(247, 12%, 40%);
		--control-secondary-active: hsl(247, 12%, 38%);

		--glyph-foreground: hsl(247, 12%, 51%);
		--glyph-background: hsl(247, 12%, 34%);

		--text-primary: hsl(0, 0%, 100%);
		--text-secondary: hsl(0, 0%, 80%);

		--link-primary: #61dce9;
		--link-hover: #80ebff;
		--link-active: #aaf2ff;

		--accent-primary: #61dce9;
	}
}

.hidden {
	display: none !important;
}

.disabled {
	opacity: 0.5 !important;
	pointer-events: none !important;

	* {
		pointer-events: none !important;
	}
}

html {
	font-size: 1rem;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	font-family:
		system-uibody,
		-apple-system,
		"SF Pro Text",
		"SF Pro Icons",
		"Helvetica Neue",
		"Helvetica",
		"Arial",
		sans-serif;
	-webkit-font-smoothing: antialiased;
}

#root {
	width: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

input,
textarea,
select {
	font: inherit;
}

button {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow-1);
	border-radius: calc(12 * var(--unit));
	background-color: var(--control);
	color: var(--text-primary);
	text-align: center;

	&:hover {
		background-color: var(--control-hover);
	}

	&:active {
		box-shadow: none;
		background-color: var(--control-active);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: calc(16 * var(--unit));
	font: inherit;
	font-size: inherit;
	text-wrap: balance;
	overflow-wrap: break-word;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h4,
h5,
h6 {
	color: var(--text-secondary);
	font-size: 80%;
}

p {
	color: var(--text-secondary);
	font: inherit;
	text-wrap: pretty;
	overflow-wrap: break-word;
}

a {
	&:link,
	&:visited {
		color: var(--link-primary);
		text-decoration: none;
	}
	&:hover {
		color: var(--link-hover);
		text-decoration: underline;
	}
	&:active {
		color: var(--link-active);
		text-decoration: underline;
	}
}

hr {
	margin: 0;
	border-width: 0;
	background-color: var(--panel-active);
	width: 100%;
	height: calc(1 * var(--unit));
}

svg {
	align-self: center;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: calc(1 * var(--unit));
	margin: 0;
	width: calc(16 * var(--unit));
	height: calc(16 * var(--unit));
}

.switch {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	border-radius: calc(12 * var(--unit));
	width: 100%;
	height: auto;
	overflow: hidden;

	button {
		box-shadow: none;
		border-radius: 0;
		background-color: var(--control-secondary);

		&:hover {
			background-color: var(--control-secondary-hover);
		}

		&.active {
			background-color: var(--control);
			color: var(--accent-primary);

			&:hover {
				background-color: var(--control-hover);
			}
		}
	}

	&.tab-switch {
		border-radius: calc(infinity * var(--unit));
		font-weight: 800;

		button {
			background-color: var(--panel);
			padding: calc(8 * var(--unit)) calc(32 * var(--unit));

			&:hover {
				background-color: var(--panel-hover);
			}

			&.active {
				background-color: var(--panel-selected);
				color: var(--accent-primary);

				&:hover {
					background-color: var(--panel-selected-hover);
				}
			}
		}
	}
}

.slider {
	display: flex;
	flex-direction: column;

	.body {
		display: flex;
		flex-direction: row;
	}

	.track {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-position-x 0.1s ease-in;
		cursor: grab;
		background-image: linear-gradient(
			to right,
			var(--control),
			var(--control) 50%,
			var(--control-secondary) 50%
		);
		background-size: 200% 100%;
		background-color: var(--control-active);
		background-position-x: var(--position, 100%);
		line-height: 100%;
		text-align: center;

		&:hover {
			background-image: linear-gradient(
				to right,
				var(--control-hover),
				var(--control-hover) 50%,
				var(--control-secondary) 50%
			);
		}

		&.dragging {
			transition: none;
			cursor: grabbing;
			background-image: linear-gradient(
				to right,
				var(--control-active),
				var(--control-active) 50%,
				var(--control-secondary) 50%
			);
		}
	}
}

input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	outline: none;
	outline-offset: -1px;
	border: none;
	background-color: var(--control-secondary);
	color: inherit;
	color: var(--text-primary);
	line-height: 100%;
	font-family: monospace;

	&:hover {
		background-color: var(--control-secondary-hover);
	}

	&:focus-visible {
		outline: solid 1px var(--control-secondary-hover);
		background-color: transparent;
	}
}

select {
	display: flex;
	vertical-align: middle;
	border: none;
	border-radius: calc(12 * var(--unit));
	background-color: var(--control-secondary);
	padding-inline: calc(8 * var(--unit)) 0;
	width: max-content;
	color: var(--text-primary);

	&:hover {
		background-color: var(--control-secondary-hover);
	}

	&:active {
		background-color: var(--control-secondary-active);
	}
}

.colour-input {
	position: relative;

	label {
		position: absolute;
		cursor: pointer;
		outline: solid 1px var(--control-secondary-active);
		border-radius: 50%;
	}

	input[type="color"] {
		display: none;
	}
}
