@import "global.css";

body {
	background-color: var(--bg-app);
	min-height: calc(250 * var(--unit));
	color: var(--text-primary);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: calc(16 * var(--unit));
	padding: calc(16 * var(--unit)) 0;
	max-width: calc(960 * var(--unit));
}

main#tab-0 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(16 * var(--unit));

	@media screen and (max-width: 600px) {
		& {
			grid-template-columns: 1fr;
		}
	}

	section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: calc(20 * var(--unit));
		border-radius: calc(8 * var(--unit));
		background-color: var(--bg-panel);
		padding: calc(15 * var(--unit));

		& > .glyph {
			all: unset;
			flex: 1 1 auto;
			width: 0;
			max-width: calc(84 * var(--unit));
		}

		& > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: calc(20 * var(--unit));
		}
	}
}

main#tab-1 {
	display: flex;
	flex-direction: column;

	section {
		display: grid;
		grid-template-columns:
			auto max-content calc(160 * var(--unit))
			max-content;
		gap: calc(8 * var(--unit));
		background-color: var(--bg-panel);
		padding: calc(8 * var(--unit));

		&:nth-of-type(even) {
			background-color: var(--bg-panel-alt);
		}

		:is(&:first-of-type) {
			border-top-right-radius: calc(8 * var(--unit));
			border-top-left-radius: calc(8 * var(--unit));
		}

		:is(&:last-of-type) {
			border-bottom-right-radius: calc(8 * var(--unit));
			border-bottom-left-radius: calc(8 * var(--unit));
		}

		&[headerType="ADDON_ID"] {
			grid-template-columns: auto max-content calc(120 * var(--unit));
		}

		.header {
			position: relative;

			& > div {
				display: none;
				position: absolute;
				top: 50%;
				right: calc(8 * var(--unit));
				transform: translateY(-50%);
				cursor: help;
				width: calc(16 * var(--unit));
				height: calc(16 * var(--unit));
			}

			&.warning {
				input[type="text"] {
					padding-inline-end: calc(32 * var(--unit));
				}

				& > div {
					display: block;
				}
			}
		}

		select {
			border-radius: calc(4 * var(--unit));
			padding-inline: calc(8 * var(--unit)) 0;
			height: calc(32 * var(--unit));
		}

		.switch {
			height: calc(32 * var(--unit));
		}

		.colour-input {
			position: relative;

			label {
				position: absolute;
				top: calc(8 * var(--unit));
				left: calc(8 * var(--unit));
				cursor: pointer;
				outline: solid 1px var(--control-bg-selected);
				border-radius: 50%;
				width: calc(16 * var(--unit));
				height: calc(16 * var(--unit));
			}

			input[type="text"] {
				padding-left: calc(32 * var(--unit));
			}

			input[type="color"] {
				display: none;
			}
		}

		.delete-button {
			border-radius: calc(4 * var(--unit));
			padding: 0;
			width: calc(32 * var(--unit));
			height: calc(32 * var(--unit));
		}
	}

	button#add-rule {
		margin-top: calc(16 * var(--unit));
		border-radius: calc(8 * var(--unit));
		background-color: var(--bg-panel);
		width: 100%;
		height: calc(48 * var(--unit));
		text-align: center;

		&:hover {
			background-color: var(--bg-panel-hover);
		}

		&:active {
			background-color: var(--bg-panel-active);
		}

		&:only-child {
			margin-top: 0rem;
		}
	}
}

main#tab-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(16 * var(--unit));

	@media screen and (max-width: 600px) {
		& {
			grid-template-columns: 1fr;
		}
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: calc(20 * var(--unit));
		border-radius: calc(8 * var(--unit));
		background-color: var(--bg-panel);
		padding: calc(15 * var(--unit));
	}
}

.column {
	display: flex;
	flex-direction: column;
	gap: calc(16 * var(--unit));
}

.slider {
	gap: calc(8 * var(--unit));

	.body {
		gap: calc(4 * var(--unit));
	}

	.track {
		border-radius: calc(12 * var(--unit));
		width: calc(105 * var(--unit));
		height: calc(32 * var(--unit));
	}

	button {
		border-radius: calc(12 * var(--unit));
		width: calc(32 * var(--unit));
		height: calc(32 * var(--unit));
		color: var(--text-primary);
	}
}

input[type="text"] {
	border-radius: 0.25rem;
	padding-inline: calc(8 * var(--unit));
	width: 100%;
	height: calc(32 * var(--unit));
}
