main.rule-tab {
	display: flex;
	flex-direction: column;

	.rule-list {
		display: flex;
		flex-direction: column;
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: calc(16 * var(--unit));
		overflow: hidden;
	}

	.add-rule-button {
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: calc(16 * var(--unit));
		background-color: var(--panel);
		width: 100%;
		height: calc(48 * var(--unit));
		text-align: center;

		&.margin-top {
			margin-top: calc(16 * var(--unit));
		}

		&:hover {
			background-color: var(--panel-hover);
		}

		&:active {
			background-color: var(--panel-active);
		}
	}
}
