body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-body);
	color: var(--color);
}

body.light {
	--color: #000000;
	--color-link: rgb(55, 141, 255);
	--color-link-hover: rgb(46, 96, 223);
	--color-link-active: rgb(19, 34, 117);
	--color-accent: rgb(34, 100, 216);
	--color-line: rgb(215, 215, 219);
	--bg-body: #ffffff;
	--bg-button: rgb(239, 239, 242);
	--bg-button-hover: rgb(223, 223, 229);
	--bg-button-active: rgb(207, 207, 216);
}

body.dark {
	--color: #ffffff;
	--color-link: rgb(59, 221, 255);
	--color-link-hover: rgb(128, 235, 255);
	--color-link-active: rgb(169, 242, 255);
	--color-accent: rgb(98, 218, 251);
	--color-line: rgb(78, 77, 84);
	--bg-body: rgb(35, 34, 42);
	--bg-button: rgb(43, 42, 50);
	--bg-button-hover: rgb(82, 82, 94);
	--bg-button-active: rgb(91, 91, 102);
}

#reinstall-tip {
	overflow-wrap: break-word;
	animation-fill-mode: forwards;
	opacity: 0;
	width: 50%;
	animation-name: appear;
	animation-duration: 0s;
	animation-delay: 5s;
	white-space: normal;
}

td {
	padding-inline: 2px;
	padding-block: 4px;
	vertical-align: middle;
}

span {
	padding-inline: 0.25em;
	vertical-align: middle;
}

h2 {
	margin-block: 1em;
	padding: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
}

h3 {
	margin-block: 0.25em;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	line-height: normal;
}

button,
select {
	height: 1.75em;
	border: none;
	border-radius: 4px;
	vertical-align: middle;
}

button {
	width: 1.75em;
	text-align: center;
}

select {
	width: 11em;
	padding-left: 0.25em;
	vertical-align: middle;
}

button,
select {
	background-color: var(--bg-button);
	color: var(--color);
}

button:hover,
select:hover {
	background-color: var(--bg-button-hover);
}

button:active,
select:active {
	background-color: var(--bg-button-active);
}

svg {
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	display: block;
	width: 1em;
	height: 1em;
	margin: auto;
}

svg {
	stroke: var(--color);
}

a:link,
a:visited {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	color: var(--color-link-hover);
	text-decoration: underline;
}

a:active {
	color: var(--bg-button-active);
	text-decoration: underline;
}

hr {
	margin-block: 1rem;
	height: 1px;
	background-color: var(--color-line);
	border-width: 0;
}

.FiveEm {
	display: inline-block;
	overflow: hidden;
	width: 5em !important;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.TenEm {
	display: inline-block;
	overflow: hidden;
	width: 10em !important;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.TenFiveEm {
	display: inline-block;
	overflow: hidden;
	width: clamp(5em, 15em, calc(100vw - 20em)) !important;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input[type="range"] {
	margin-inline: 1em;
	width: 6em;
}

input[type="color"] {
	height: 1.5em;
	padding: 0;
	cursor: pointer;
	border: none;
	vertical-align: middle;
}

input[type="text"] {
	padding-inline: 0.25em;
	outline: none;
	display: inline-block;
	width: 100%;
	height: 1.75em;
	background-color: inherit;
	border: solid 1px var(--color-line);
	border-radius: 4px;
	color: inherit;
	vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
	accent-color: var(--color-accent);
}

div.sponsor {
	display: flex;
	gap: 0.5em;
}

.tab_switch {
	display: none;
}

.tab_label {
	margin-inline-end: 4px;
	margin-block-start: 1rem;
	display: inline-block;
	padding: 4px 1em;
	background-color: var(--bg-button);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.tab_label:hover {
	background-color: var(--bg-button-hover);
}

.tab_label:active {
	background-color: var(--bg-button-active);
}

.tab_switch:checked + .tab_label {
	background-color: var(--bg-button-active);
	color: var(--color-link);
}

.tab {
	display: none;
	width: 100%;
}

#tab_switch_1:checked ~ #tab_1 {
	display: block;
}

#tab_switch_2:checked ~ #tab_2 {
	display: flex;
}

#tab_switch_3:checked ~ #tab_3 {
	display: block;
}

#custom_options.disabled {
	opacity: 0.5;
}

#custom_options.disabled select,
#custom_options.disabled button,
#custom_options.disabled input {
	pointer-events: none;
}

#tab_2 {
	flex-wrap: wrap;
	gap: 1rem;
}

#tab_2 > div {
	width: fit-content;
	padding: 0.1rem 1rem;
	background-color: var(--bg-button);
	border-radius: 8px;
}

/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

/* preferences.css modified */

#web-appearance-chooser {
	display: flex;
	gap: 0.5em;
}

.web-appearance-choice {
	overflow: clip;
	border-radius: 4px;
}

.web-appearance-choice-image-container {
	position: relative;
	padding: 1em;
}

.web-appearance-choice-image-container {
	background-color: var(--bg-button);
}

.web-appearance-choice:hover .web-appearance-choice-image-container {
	background-color: var(--bg-button-hover);
}

.web-appearance-choice:active .web-appearance-choice-image-container {
	background-color: var(--bg-button-active);
}

.web-appearance-choice img {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	content: url("chrome://browser/content/preferences/web-appearance-light.svg");
	display: block;
	transform: scaleX(1);
	margin: 0 2em;
	border-radius: 4px;
}

.web-appearance-choice img.dark-icon {
	content: url("chrome://browser/content/preferences/web-appearance-dark.svg");
}

.web-appearance-choice img.auto-icon {
	content: url("chrome://browser/content/preferences/web-appearance-dark.svg");
	position: absolute;
	top: 1em;
	animation-name: appear;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.web-appearance-choice,
.web-appearance-choice img {
	border: 1px solid var(--color-line);
}

.web-appearance-choice-footer {
	overflow-wrap: anywhere;
	display: flex;
	padding: 0.5em;
	border-top: 1px solid var(--color-line);
}
