body {
	margin: 0;
	padding: 0;
}

.light {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.dark {
	color: rgb(255, 255, 255);
	background-color: rgb(35, 34, 42);
}

h4{
	display: flex;
	align-items: center;
}

label{
	display: inline-block;
	margin-inline: 0.5em;
}

div{
	white-space: nowrap;
	overflow: hidden;
}

#custom_options{
	margin-left: 4em;
	margin-bottom: 2em;
	width: 80%;
}

td{
	padding-inline: 2px;
	padding-block: 4px;
	vertical-align: middle;
}

span{
	vertical-align: middle;
	padding-inline: 0.25em;
}

button,
select {
	border: none;
	border-radius: 4px;
	vertical-align: middle;
	height: 1.75em;
}

button{
	width: 1.75em;
	text-align: center;
}

select {
	width: 11em;
	vertical-align: middle;
	padding-left: 0.25em;
}

.light button,
.light select {
	color: rgb(0, 0, 0);
	background-color: rgb(239, 239, 242);
}

.light button:hover,
.light select:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(223, 223, 229);
}

.light button:active,
.light select:active {
	color: rgb(0, 0, 0);
	background-color: rgb(207, 207, 216);
}

.dark button,
.dark select {
	color: rgb(255, 255, 255);
	background-color: rgb(43, 42, 50);
}

.dark button:hover,
.dark select:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(82, 82, 94);
}

.dark button:active,
.dark select:active {
	color: rgb(255, 255, 255);
	background-color: rgb(91, 91, 102);
}

svg{
	display: block;
	margin: auto;
	width: 1em;
	height: 1em;
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.light svg{
	stroke: black;
}

.dark svg{
	stroke: white;
}

.light a:link,
.light a:visited {
	color: rgb(55, 141, 255);
	text-decoration: none;
}

.light a:hover {
	color: rgb(46, 96, 223);
	text-decoration: underline;
}

.light a:active {
	color: rgb(19, 34, 117);
	text-decoration: underline;
}

.dark a:link,
.dark a:visited {
	color: rgb(59, 221, 255);
	text-decoration: none;
}

.dark a:hover {
	color: rgb(128, 235, 255);
	text-decoration: underline;
}

.dark a:active {
	color: rgb(169, 242, 255);
	text-decoration: underline;
}

hr {
	height: 1px;
	border-width: 0;
}

.light hr {
	background-color: rgb(215, 215, 219);
}

.dark hr {
	background-color: rgb(78, 77, 84);
}

.FiveEm {
	width: 5em !important; 
	display: inline-block;
}

.TenEm {
	width: 10em !important;
	display: inline-block;
}

input[type='range'] {
	margin-inline: 0.5em;
	width: 6em;
}

input[type='color'] {
	padding: 0;
	border: none;
	height: 1.5em;
	vertical-align: middle;
	cursor: pointer;
}

input[type='text'] {
	height: 1.75em;
	padding-inline: 0.25em;
	vertical-align: middle;
	outline: none;
	border-radius: 4px;
	background-color: inherit;
	color: inherit;
	display: inline-block;
	width: 100%;
}

.light input[type='text'] {
	border: solid 1px rgb(215, 215, 219);
}

.dark input[type='text'] {
	border: solid 1px rgb(78, 77, 84);
}

.light input[type='checkbox'],
.light input[type='radio'],
.light input[type='range'] {
	accent-color: rgb(34, 100, 216);
}

.dark input[type='checkbox'],
.dark input[type='radio'],
.dark input[type='range'] {
	accent-color: rgb(98, 218, 251);
}