body {
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.light {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.dark {
	color: rgb(255, 255, 255);
	background-color: rgb(35, 34, 42);
}

