body {
	width: 20em !important;
	margin: 0;
	padding: 8px;
}

.light {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.dark {
	background-color: rgb(28, 27, 34);
	color: rgb(255, 255, 255);
}

.info_display_wrapper,
h4,
label {
	display: block;
	margin: 0;
	padding: 0.5em;
	border-radius: 4px;
	text-align: left;
}

.light label:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.light label:active {
	background-color: rgba(0, 0, 0, 0.25);
}

.dark label:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.dark label:active {
	background-color: rgba(255, 255, 255, 0.25);
}

#info_action {
	margin-top: 0.5em;
}

.light #info_action {
	background-color: rgba(0, 0, 0, 0.15);
}

.light #info_action:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.light #info_action:active {
	background-color: rgba(0, 0, 0, 0.35);
}

.dark #info_action {
	background-color: rgba(255, 255, 255, 0.15);
}

.dark #info_action:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.dark #info_action:active {
	background-color: rgba(255, 255, 255, 0.35);
}

.tip {
	padding-inline: 1em;
	display: inline-block;
	margin: 0;
	border-radius: 5px;
	font-size: 50%;
	vertical-align: middle;
}

.light .tip {
	background-color: rgba(0, 0, 0, 0.13);
}

.dark .tip {
	background-color: rgba(255, 255, 255, 0.1);
}

.info_display_wrapper {
	margin-block-end: 5px;
	line-height: 1.2em;
}

.light .info_display_wrapper {
	border: 1px solid rgba(0, 0, 0, 0.13);
}

.dark .info_display_wrapper {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

h4 {
	text-align: center;
}

#reinstall_tip {
	overflow-wrap: break-word;
	animation-fill-mode: forwards;
	opacity: 0;
	animation-name: appear;
	animation-duration: 0s;
	animation-delay: 5s;
	white-space: normal;
}

hr {
	height: 1px;
	border-width: 0;
}

.light hr {
	background-color: rgba(0, 0, 0, 0.13);
	color: rgba(0, 0, 0, 0.13);
}

.dark hr {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.1);
}

.light input {
	accent-color: rgb(0, 0, 0);
	opacity: 0.75;
}

.dark input {
	accent-color: rgb(255, 255, 255);
	opacity: 0.75;
}
