body {
	margin: 0;
	padding: 10px;
}

.light {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.dark {
	color: rgb(255, 255, 255);
	background-color: rgb(28, 27, 34);
}

.light hr {
	height: 1px;
	border-width: 0;
	color: rgba(0, 0, 0, 0.13);
	background-color: rgba(0, 0, 0, 0.13)
}

.dark hr {
	height: 1px;
	border-width: 0;
	color: rgba(255, 255, 255, 0.10);
	background-color: rgba(255, 255, 255, 0.10)
}

.custom_options {
	margin-left: 4ch;
}