.toggle-switch {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	border-radius: 0.25rem;
	width: 100%;
	height: auto;
	overflow: hidden;

	label {
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: var(--colour-4);
		}

		&:active {
			background-color: var(--colour-8);
		}

		&:has(input:checked) {
			background-color: var(--colour-6);
			color: var(--link-colour-normal);

			&:hover {
				background-color: var(--colour-8);
			}
		}
	}

	input {
		display: none;
	}

	&.tab-switch {
		background-color: var(--colour-2);
		font-weight: 600;

		label {
			padding: 0.5rem 2rem;
		}
	}
}

.checkbox {
	display: flex;
	gap: 1rem;
	width: 100%;

	input[type="checkbox"] {
		accent-color: var(--accent-colour);
	}

	label {
		color: var(--text-colour-secondary);
	}
}

.slider {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin-block-start: 0.5rem;

	.track {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-position-x 0.1s ease-in;
		border-radius: 4px;
		background-image: linear-gradient(
			to right,
			var(--transparent-0),
			var(--transparent-0) 50%,
			var(--colour-4) 50%
		);
		background-size: 200% 100%;
		background-color: var(--colour-4);
		background-position-x: var(--slider-position, 100%);
		width: 10rem;
		height: 2rem;
		line-height: 2rem;
		text-align: center;

		&.percentage::after {
			margin-inline-start: 0.5rem;
			content: "%";
		}
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 4px;
		background-color: var(--colour-4);
		padding: 0;
		width: 2rem;
		height: 2rem;
		color: var(--text-colour-normal);
		text-align: center;

		&:hover {
			background-color: var(--colour-6);
		}
		&:active {
			background-color: var(--colour-10);
		}
	}

	label {
		color: var(--text-colour-secondary);
		font-size: 80%;
		text-align: center;
	}
}

.list section {
	&.fixed-policy {
		.header {
			margin-inline: 0.5rem auto;
			max-width: 100%;
		}
	}

	&.colour-policy {
		.header {
			max-width: 60%;
		}
	}

	&.flexible-policy {
		.header .policy-warning {
			display: none;
			position: absolute;
			top: 0.25rem;
			right: 0.5rem;
			width: 1rem;
			height: 1rem;
		}

		&.warning {
			.header input[type="text"] {
				padding-inline-end: 2rem;
			}

			.header .policy-warning {
				display: block;
				cursor: help;
			}
		}

		select {
			display: flex;
			vertical-align: middle;
			border: none;
			border-radius: 0.25rem;
			background-color: var(--colour-4);
			padding-inline: 0.5rem 0;
			width: max-content;
			height: 2rem;
			color: var(--text-colour-normal);

			&:hover {
				background-color: var(--colour-6);
			}

			&:active {
				background-color: var(--colour-10);
			}

			& ~ .colour-control,
			& ~ .theme-control,
			& ~ .query-control {
				display: none;
			}

			&[data-selection="COLOUR"] ~ .colour-control,
			&[data-selection="THEME_COLOUR"] ~ .theme-control,
			&[data-selection="QUERY_SELECTOR"] ~ .query-control {
				display: grid;
			}
		}
	}

	.toggle-switch {
		background-color: var(--colour-4);
		height: 2rem;

		label {
			&:hover {
				background-color: var(--colour-6);
			}

			&:active {
				background-color: var(--colour-10);
			}

			&:has(input:checked) {
				background-color: var(--colour-8);
				color: var(--link-colour-normal);

				&:hover {
					background-color: var(--colour-10);
				}
			}
		}
	}

	.colour-input {
		position: relative;

		label {
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			cursor: pointer;
			outline: solid 1px var(--colour-10);
			border-radius: 50%;
			width: 1rem;
			height: 1rem;
		}

		input[type="text"] {
			padding-left: 2rem;
		}

		input[type="color"] {
			display: none;
		}
	}

	.text-input {
		display: flex;
		position: relative;
		align-items: center;

		input[type="text"] {
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			outline: none;
			outline-offset: -1px;
			border: none;
			border-radius: 0.25rem;
			background-color: var(--colour-4);
			padding-inline: 0.5rem;
			width: 100%;
			height: 2rem;
			color: inherit;
			line-height: 100%;
			font-family: monospace;

			&:hover {
				background-color: var(--colour-6);
			}

			&:focus-visible {
				outline: solid 1px var(--colour-6);
				background-color: transparent;
			}
		}
	}
}

button.text-button {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	box-sizing: border-box;
	border: none;
	border-radius: 0.25rem;
	background-color: var(--colour-4);
	padding: 0 0.5rem;
	width: 100%;
	height: 2rem;
	color: var(--text-colour-normal);
	font-size: inherit;
	text-align: start;

	&:hover {
		background-color: var(--colour-6);
	}
	&:active {
		background-color: var(--colour-10);
	}
}
