@import "../global.css";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	background-color: var(--colour-0);
	padding: 0;
	color: var(--text-colour-normal);
}

#settings-wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 1rem;
	padding-block: 1rem;
	width: 100%;
	max-width: 800px;
}

#footer {
	display: contents;
}

/* Layout */

#settings-wrapper:not(.tab-switch-1) #tab-1,
#settings-wrapper:not(.tab-switch-2) #tab-2,
#settings-wrapper:not(.tab-switch-3) #tab-3 {
	display: none;
}

.tab {
	width: 100%;
}

.grid-one-column {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.grid-two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	@media screen and (max-width: 450px) {
		& {
			grid-template-columns: 1fr;
		}
	}
}

.column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.section {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	border-radius: 8px;
	background-color: var(--colour-1);
	padding: 1.25rem;
}

.section-title {
	font-weight: 600;
}

.section-text {
	color: var(--text-colour-secondary);
}

.section-subtitle {
	display: flex;
	align-items: center;
	margin-block: 0.25rem;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	line-height: normal;
}

/* Elements */

a {
	&:link,
	&:visited {
		color: var(--link-colour-normal);
		text-decoration: none;
	}
	&:hover {
		color: var(--link-colour-hover);
		text-decoration: underline;
	}
	&:active {
		color: var(--link-colour-active);
		text-decoration: underline;
	}
}

hr {
	margin: 0;
	border-width: 0;
	background-color: var(--colour-3);
	width: 100%;
	height: 1px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 4px;
	background-color: var(--colour-2);
	padding: 0;
	width: 2rem;
	height: 2rem;
	color: var(--text-colour-normal);
	text-align: center;

	&:hover {
		background-color: var(--colour-3);
	}
	&:active {
		background-color: var(--colour-5);
	}
}

.text-button {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background-color: var(--colour-2);
	padding: 0 0.5rem;
	width: 100%;
	height: 2rem;
	color: var(--text-colour-normal);
	font-size: inherit;
	text-align: start;

	&:hover {
		background-color: var(--colour-3);
	}
	&:active {
		background-color: var(--colour-5);
	}
}

select {
	display: flex;
	vertical-align: middle;
	border: none;
	border-radius: 4px;
	background-color: var(--colour-2);
	padding-inline: 0.5rem 0;
	width: max-content;
	height: 2rem;
	color: var(--text-colour-normal);

	&:hover {
		background-color: var(--colour-3);
	}
	&:active {
		background-color: var(--colour-5);
	}
}

input[type="color"] {
	display: none;
}

input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	outline: none;
	outline-offset: -1px;
	border: none;
	border-radius: 4px;
	background-color: var(--colour-2);
	padding-inline: 0.5rem;
	width: 100%;
	height: 2rem;
	color: inherit;
	line-height: 100%;
	font-family: monospace;

	&:hover {
		background-color: var(--colour-3);
	}

	&:focus-visible {
		outline: solid 1px var(--colour-3);
		background-color: transparent;
	}
}

input[type="checkbox"] {
	accent-color: var(--accent-colour);
}

input[type="radio"] {
	margin: 0;
	accent-color: var(--accent-colour);
}

/* Slider */

.slider {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin-block-start: 0.5rem;
}

.slider-title {
	color: var(--text-colour-secondary);
	font-size: 80%;
	text-align: center;
}

.slider-body {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-position-x 0.1s ease-in;
	border-radius: 4px;
	background-image: linear-gradient(
		to right,
		var(--transparent-0),
		var(--transparent-0) 50%,
		var(--colour-2) 50%
	);
	background-size: 200% 100%;
	background-color: var(--colour-2);
	background-position-x: var(--slider-position, 100%);
	width: 10rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;

	&.percentage::after {
		margin-inline-start: 0.5rem;
		content: "%";
	}
}

/* Toggle */
/* To-do: use a light switch instead of a simple checkbox */

.checkbox-wrapper {
	display: flex;
	gap: 1rem;
	width: 100%;
}

/* Colour input */

.colour-input-wrapper {
	position: relative;
}

.colour-picker-display {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	cursor: pointer;
	outline: solid 1px var(--colour-5);
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
}

input[type="text"].colour-input {
	padding-left: 2rem;
}

/* Toggle switch */

.toggle-switch-wrapper {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	border-radius: 4px;
	background-color: var(--colour-2);
	width: 100%;
	height: 2rem;
	overflow: hidden;

	label.toggle-switch {
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: var(--colour-3);
		}
		&:active {
			background-color: var(--colour-5);
		}
	}

	input.toggle-switch {
		display: none;

		&:checked + label.toggle-switch {
			background-color: var(--colour-4);
			color: var(--link-colour-normal);

			&:hover {
				background-color: var(--colour-5);
			}
		}
	}
}

/* Tab switch */

.tab-switch-wrapper {
	&.toggle-switch-wrapper {
		background-color: var(--colour-1);
		height: auto;
	}

	label.toggle-switch {
		padding: 0.5rem 2rem;
		font-weight: 600;

		&:hover {
			background-color: var(--colour-2);
		}
		&:active {
			background-color: var(--colour-4);
		}
	}

	input.toggle-switch {
		&:checked + label.toggle-switch {
			background-color: var(--colour-3);
			color: var(--link-colour-normal);

			&:hover {
				background-color: var(--colour-4);
			}
		}
	}
}

/* Fixed elements */

p#reinstall-tip {
	width: 50%;
}

#add-new-rule {
	border-radius: 6px;
	background-color: var(--colour-1);
	width: 100%;
	height: 3rem;

	&:hover {
		background-color: var(--colour-2);
	}
	&:active {
		background-color: var(--colour-4);
	}
}

#sponsor {
	display: flex;
	gap: 0.5rem;
	filter: saturate(0) brightness(1.1);

	@media (prefers-color-scheme: dark) {
		& {
			filter: sepia(1) hue-rotate(218deg) saturate(0.5) brightness(0.7);
		}
	}
}

/* List */

.list {
	display: flex;
	flex-direction: column;

	.section {
		display: grid;
		grid-template-columns: auto max-content 10rem max-content;
		gap: 0.5rem;
		border-radius: 0;
		padding: 0.5rem;

		&:nth-of-type(even) {
			background-color: var(--colour-1-5);
		}
	}

	:is(.section:first-of-type) {
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}

	:is(.section:last-of-type) {
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}
}

#tab-2:not(:has(.policy)) {
	gap: 0;
}

#tab-3 .list .section {
	grid-template-columns: auto max-content 7.5rem;
}

.policy-header {
	margin-inline: 0.5rem auto;
	max-width: 100%;
}

.policy .policy-header {
	max-width: 60%;
}

.policy-header-input-wrapper {
	display: flex;
	position: relative;
	align-items: center;
}

.policy-header-warning {
	display: none;
	position: absolute;
	top: 0.25rem;
	right: 0.5rem;
	width: 1rem;
	height: 1rem;
}

.policy.warning {
	.policy-header-input {
		padding-inline-end: 2rem;
	}
	.policy-header-warning {
		display: block;
		cursor: help;
	}
}

select {
	~ .colour-input-wrapper,
	~ .toggle-switch-wrapper,
	~ .qs-input-wrapper {
		display: none;
	}

	&.COLOUR ~ .colour-input-wrapper,
	&.THEME_COLOUR ~ .toggle-switch-wrapper,
	&.QUERY_SELECTOR ~ .qs-input-wrapper {
		display: grid;
	}
}
