@import "../global.css";
@import "elements.css";

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 0;
	background-color: var(--colour-0);
	padding: 0;
	padding-block: 1rem;
	color: var(--text-colour-normal);
}

nav,
main,
footer {
	width: 100%;
	max-width: 60rem;
}

.tab {
	display: none;
	width: 100%;

	body[data-tab-switch="tab-switch-1"] &#tab-1,
	body[data-tab-switch="tab-switch-3"] &#tab-3 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		@media screen and (max-width: 450px) {
			& {
				grid-template-columns: 1fr;
			}
		}
	}

	body[data-tab-switch="tab-switch-2"] &#tab-2 {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

.column {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	section {
		border-radius: 2rem;
		background-color: var(--colour-2);
		padding: 2rem;

		h3 {
			font-weight: 600;
			font-size: inherit;
		}

		p {
			color: var(--text-colour-secondary);
		}
	}
}

.list {
	display: flex;
	flex-direction: column;

	section {
		display: grid;
		gap: 0.5rem;
		border-radius: 0;
		padding: 0.5rem;

		&:nth-of-type(even) {
			background-color: var(--colour-3);
		}

		&.fixed-policy {
			grid-template-columns: auto max-content 10rem max-content;
		}

		&.colour-policy,
		&.flexible-policy {
			grid-template-columns: auto max-content 7.5rem;
		}
	}

	:is(section:first-of-type) {
		border-top-right-radius: 0.5rem;
		border-top-left-radius: 0.5rem;
	}

	:is(section:last-of-type) {
		border-bottom-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
}

button#add-new-rule {
	border-radius: 6px;
	background-color: var(--colour-2);
	width: 100%;
	height: 3rem;

	&:hover {
		background-color: var(--colour-4);
	}

	&:active {
		background-color: var(--colour-8);
	}
}

div#sponsor {
	display: flex;
	gap: 0.5rem;
	filter: saturate(0) brightness(1.1);

	@media (prefers-color-scheme: dark) {
		& {
			filter: sepia(1) hue-rotate(218deg) saturate(0.5) brightness(0.7);
		}
	}
}

#tab-2:not(:has(.policy)) {
	gap: 0;
}
