.colour {
	position: relative;

	input[type="text"] {
		display: inline-block;
		vertical-align: middle;
		z-index: 10;
		box-sizing: border-box;
		outline: none;
		outline-offset: -1px;
		border: none;
		border-radius: var(--component-border-radius, calc(12 * var(--unit)));
		background-color: var(--control);
		padding-inline: var(--unit-32) var(--unit-8);
		width: 100%;
		min-width: 6em;
		height: var(--unit-32);
		color: var(--text-primary);
		line-height: 100%;
		font-family: monospace;

		&:hover {
			background-color: var(--control-hover);
		}

		&:focus-visible {
			outline: solid 1px var(--control-hover);
			background-color: transparent;
		}
	}

	.preview {
		position: absolute;
		top: var(--unit-8);
		left: var(--unit-8);
		z-index: 10;
		cursor: pointer;
		outline: solid 1px var(--control-hover);
		border-radius: 50%;
		background-color: #000000;
		width: var(--unit-16);
		height: var(--unit-16);
	}

	.popup {
		--width: calc(152 * var(--unit));
		display: flex;
		position: absolute;
		top: calc(100% - 8 * var(--unit));
		left: calc(16 * var(--unit) - var(--width) / 2);
		flex-direction: column;
		gap: calc(12 * var(--unit));
		z-index: 20;
		filter: drop-shadow(var(--shadow-small))
			drop-shadow(var(--shadow-large));
		margin-top: calc(8.6 * var(--unit));
		border-radius: var(--component-border-radius, calc(12 * var(--unit)));
		background-color: var(--panel, var(--app));
		padding: calc(12 * var(--unit));
		width: var(--width);

		&::before {
			position: absolute;
			top: calc(-6 * var(--unit));
			left: calc(50% - 6 * var(--unit));
			transform: rotate(45deg);
			z-index: -1;
			border-radius: var(--unit-4) calc(1 * var(--unit));
			background-color: inherit;
			width: calc(12 * var(--unit));
			height: calc(12 * var(--unit));
			content: "";
		}

		& > div {
			--scale: 0.5;
			--factor: calc(0.7071 * (1 - var(--scale)));
			--r-iris: var(--unit-8);
			--r-pupil: calc(var(--scale) * var(--r-iris));
			--x-iris: clamp(
				var(--r-iris),
				var(--x),
				calc(100% - var(--r-iris))
			);
			--x-pupil: calc(
				var(--x-iris) - var(--factor) *
					max(0%, calc(var(--r-iris) - var(--x))) + var(--factor) *
					max(0%, calc(var(--r-iris) + var(--x) - 100%))
			);
			--y-iris: clamp(
				var(--r-iris),
				var(--y),
				calc(100% - var(--r-iris))
			);
			--y-pupil: calc(
				var(--y-iris) - var(--factor) *
					max(0%, calc(var(--r-iris) - var(--y))) + var(--factor) *
					max(0%, calc(var(--r-iris) + var(--y) - 100%))
			);
		}

		.wb-plane {
			position: relative;
			border-radius: var(--unit-8);
			background-image:
				linear-gradient(transparent 0%, #000 100%),
				linear-gradient(to left, var(--h) 0%, #fff 100%);
			aspect-ratio: 1/1;

			.wb-iris {
				position: absolute;
				top: var(--y-iris);
				left: var(--x-iris);
				transform: translate(-50%, -50%);
				box-shadow: var(--shadow-small), var(--shadow-large);
				border-radius: 50%;
				background-color: #fff;
				width: calc(2 * var(--r-iris));
				height: calc(2 * var(--r-iris));
				pointer-events: none;
			}

			.wb-pupil {
				position: absolute;
				top: var(--y-pupil);
				left: var(--x-pupil);
				transform: translate(-50%, -50%);
				box-shadow:
					inset var(--shadow-small),
					inset var(--shadow-large);
				border-radius: 50%;
				width: calc(2 * var(--r-pupil));
				height: calc(2 * var(--r-pupil));
				pointer-events: none;
			}
		}

		.h-slider {
			position: relative;
			border-radius: var(--unit-8);
			background: linear-gradient(
				to right,
				#f00 0%,
				#ff0 17%,
				#0f0 33%,
				#0ff 50%,
				#00f 67%,
				#f0f 83%,
				#f00 100%
			);
			height: var(--unit-16);

			.h-iris {
				position: absolute;
				top: 50%;
				left: var(--x-iris);
				transform: translate(-50%, -50%);
				box-shadow: var(--shadow-small), var(--shadow-large);
				border-radius: 50%;
				background-color: #fff;
				width: calc(2 * var(--r-iris));
				height: calc(2 * var(--r-iris));
				pointer-events: none;
			}

			.h-pupil {
				position: absolute;
				top: 50%;
				left: var(--x-pupil);
				transform: translate(-50%, -50%);
				box-shadow:
					inset var(--shadow-small),
					inset var(--shadow-large);
				border-radius: 50%;
				width: calc(2 * var(--r-pupil));
				height: calc(2 * var(--r-pupil));
				pointer-events: none;
			}
		}
	}

	input[type="color"] {
		display: none;
	}
}
