.rule-section {
	display: grid;
	grid-template-columns:
		minmax(0, 1fr) max-content calc(120 * var(--unit))
		max-content;
	gap: var(--unit-8);
	background-color: var(--panel);
	padding: var(--unit-8);

	&.in-popup {
		display: contents;
		--component-border-radius: var(--unit-4);

		select {
			border-radius: var(--unit-4);
		}
	}

	@media screen and (max-width: 550px) {
		grid-template-columns:
			minmax(max-content, 1fr) minmax(0, 1fr)
			max-content;

		& > :first-child {
			grid-column: 1 / -1;
		}
	}

	&:nth-of-type(even) {
		background-color: var(--panel-alt);
	}

	select {
		display: flex;
		vertical-align: middle;
		border: none;
		border-radius: calc(12 * var(--unit));
		background-color: var(--control);
		padding-inline: var(--unit-8) 0;
		width: max-content;
		height: var(--unit-32);
		color: var(--text-primary);

		&:hover {
			background-color: var(--control-hover);
		}

		&:active {
			background-color: var(--control-active);
		}

		@media screen and (max-width: 550px) {
			width: 100%;
		}
	}

	.web-ext-header {
		display: block;
		padding-inline-start: var(--unit-8);
		height: var(--unit-32);
		overflow: hidden;
		line-height: var(--unit-32);
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.delete-button {
		width: var(--unit-32);
		height: var(--unit-32);
	}
}
