:root {
	--unit: 0.0769rem;
	--unit-2: 0.1538rem;
	--unit-4: 0.3076rem;
	--unit-6: 0.4614rem;
	--unit-8: 0.6152rem;
	--unit-12: 0.9228rem;
	--unit-16: 1.2304rem;
	--unit-20: 1.5385rem;
	--unit-32: 2.4608rem;

	--app: hsl(0, 0%, 100%);
	--panel: hsl(0, 0%, 97%);
	--panel-alt: hsl(0, 0%, 95%);
	--panel-hover: hsl(0, 0%, 90%);
	--panel-active: hsl(0, 0%, 93%);
	--panel-selected: hsl(0, 0%, 88%);
	--panel-selected-hover: hsl(0, 0%, 85%);
	--panel-selected-active: hsl(0, 0%, 87%);

	--control: hsl(0, 0%, 87%);
	--control-hover: hsl(0, 0%, 83%);
	--control-active: hsl(0, 0%, 85%);
	--control-selected: hsl(0, 0%, 80%);
	--control-selected-hover: hsl(0, 0%, 77%);
	--control-selected-active: hsl(0, 0%, 79%);

	--text-primary: hsl(0 0% 0%);
	--text-secondary: hsl(0 0% 20%);

	--accent: oklch(55% 0.24 260);
	--accent-hover: oklch(50% 0.24 260);
	--accent-active: oklch(70% 0.24 260);

	--shadow-small: 0 0 var(--unit-2) rgba(0, 0, 0, 0.15);
	--shadow-large: 0 var(--unit-2) var(--unit-4) rgba(0, 0, 0, 0.1);

	@media (prefers-color-scheme: dark) {
		--app: hsl(247, 12%, 15%);
		--panel: hsl(247, 12%, 22%);
		--panel-alt: hsl(247, 12%, 24%);
		--panel-hover: hsl(247, 12%, 27%);
		--panel-active: hsl(247, 12%, 25%);
		--panel-selected: hsl(247, 12%, 35%);
		--panel-selected-hover: hsl(247, 12%, 40%);
		--panel-selected-active: hsl(247, 12%, 38%);

		--control: hsl(247, 12%, 34%);
		--control-hover: hsl(247, 12%, 40%);
		--control-active: hsl(247, 12%, 38%);
		--control-selected: hsl(247, 12%, 51%);
		--control-selected-hover: hsl(247, 12%, 53%);
		--control-selected-active: hsl(247, 12%, 48%);

		--text-primary: hsl(0, 0%, 100%);
		--text-secondary: hsl(0, 0%, 80%);

		--accent: oklch(76% 0.14 205);
		--accent-hover: oklch(86% 0.14 205);
		--accent-active: oklch(90% 0.14 205);
	}
}

html {
	cursor: default;
	margin: 0;
	padding: 0;
	color: var(--text-primary);
	color-scheme: light dark;
	font: caption;
	line-height: 1.5;
	font-family:
		system-uibody,
		-apple-system,
		"SF Pro Text",
		"SF Pro Icons",
		"Helvetica Neue",
		"Helvetica",
		"Arial",
		sans-serif;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	background-color: var(--app);
}

body {
	margin: 0;
	padding: 0 var(--unit-4);
	width: 100%;
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: var(--unit-16);
	padding: var(--unit-16) 0;
	width: 100%;
	max-width: calc(960 * var(--unit));
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
textarea,
select {
	overflow: hidden;
	font: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
}

button {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.1s;
	transition-property: background-color, border-color, color;
	border-radius: var(--unit-12);
	background-color: var(--control);
	color: var(--text-primary);
	text-align: center;

	&:hover {
		background-color: var(--control-hover);
	}

	&:active {
		background-color: var(--control-active);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--unit-4);
	font: inherit;
	font-size: inherit;
	text-wrap: balance;
	overflow-wrap: break-word;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h4,
h5,
h6 {
	color: var(--text-secondary);
	font-size: 80%;
}

p {
	color: var(--text-secondary);
	font: inherit;
	text-wrap: pretty;
	overflow-wrap: break-word;
}

a {
	&:link,
	&:visited {
		color: var(--accent);
		text-decoration: none;
	}

	&:hover {
		color: var(--accent-hover);
		text-decoration: underline;
	}

	&:active {
		color: var(--accent-active);
		text-decoration: underline;
	}
}

hr {
	margin: 0;
	border-width: 0;
	background-color: var(--panel-active);
	width: 100%;
	height: var(--unit);
}

svg {
	flex-shrink: 0;
	align-self: center;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: calc(1.5 * var(--unit));
	margin: 0;
	width: var(--unit-16);
	height: var(--unit-16);
}

select {
	display: flex;
	vertical-align: middle;
	outline: solid var(--unit) var(--control);
	outline-offset: calc(-1 * var(--unit));
	border: none;
	background-color: transparent;
	padding-inline: var(--unit-8) 0;
	color: var(--text-primary);

	&:hover {
		outline-color: var(--control-hover);
	}

	&:active {
		outline-color: var(--control-active);
	}
}

.hidden {
	display: none !important;
}

.disabled {
	opacity: 0.5 !important;
	pointer-events: none !important;

	* {
		pointer-events: none !important;
	}
}
