.confirm {
	--width: calc(240 * var(--unit));
	position: relative;
	width: 100%;

	.confirm-menu {
		display: flex;
		position: absolute;
		top: 100%;
		left: calc((100% - var(--width)) / 2);
		flex-direction: column;
		gap: var(--unit-8);
		z-index: 10;
		filter: drop-shadow(var(--shadow-small))
			drop-shadow(var(--shadow-large));
		box-sizing: border-box;
		margin-top: calc(8.6 * var(--unit));
		border-radius: var(--unit-16);
		background-color: var(--panel);
		padding: var(--unit-8);
		width: var(--width);

		&::before {
			position: absolute;
			top: calc(-6 * var(--unit));
			left: calc(50% - 6 * var(--unit));
			transform: rotate(45deg);
			z-index: -1;
			border-radius: var(--unit-4) calc(1 * var(--unit));
			background-color: var(--panel);
			width: calc(12 * var(--unit));
			height: calc(12 * var(--unit));
			content: "";
		}

		&.up {
			top: auto;
			bottom: 100%;
			margin-top: 0;
			margin-bottom: calc(8.6 * var(--unit));

			&::before {
				top: calc(100% + -6 * var(--unit));
			}
		}
	}

	.confirm-text {
		padding: var(--unit-4);
		text-align: start;
	}

	.confirm-actions {
		display: flex;
		justify-content: space-between;
		gap: var(--unit-8);

		button {
			flex: 1;
			justify-content: center;
			height: var(--unit-32);
		}
	}
}
