.rule-widget {
	display: flex;
	flex-direction: column;
	gap: var(--unit-8);
	border: var(--unit) solid var(--transparent-0);
	border-radius: var(--unit-4);
	padding: var(--unit-8);

	.info-message {
		svg {
			display: inline-block;
			vertical-align: text-bottom;
			padding-inline-end: var(--unit-4);
			width: auto;
			height: 1em;
		}

		strong {
			padding-inline: var(--unit-4);
		}
	}

	button {
		justify-content: center;
		background-color: var(--transparent-0);

		&:hover {
			background-color: var(--transparent-1);
		}

		&:active {
			background-color: var(--transparent-2);
		}
	}
}
