main.advanced-settings-tab {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(16 * var(--unit));

	@media screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	.column {
		display: flex;
		flex-direction: column;
		gap: calc(16 * var(--unit));
	}

	.card-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: calc(8 * var(--unit));
		border-radius: calc(16 * var(--unit));
		background-color: var(--panel);
		padding: calc(16 * var(--unit));
	}

	.list-section {
		display: grid;
		grid-template-columns: 1fr auto max-content;
		border-radius: calc(16 * var(--unit));
		overflow: hidden;

		& > div {
			display: flex;
			align-items: center;
			background-color: var(--panel);
			padding: calc(8 * var(--unit)) 0;
			padding-inline-start: calc(8 * var(--unit));

			&:nth-of-type(3n + 1) {
				padding-inline-start: calc(16 * var(--unit));
				white-space: nowrap;
			}

			&:nth-of-type(3n) {
				padding-inline-end: calc(8 * var(--unit));
			}

			&:nth-of-type(6n + 4),
			&:nth-of-type(6n + 5),
			&:nth-of-type(6n + 6) {
				background-color: var(--panel-alt);
			}
		}

		.reset-button {
			width: calc(32 * var(--unit));
			height: calc(32 * var(--unit));
		}
	}

	.text-button {
		justify-content: start;
		vertical-align: text-bottom;
		gap: calc(8 * var(--unit));
		box-sizing: border-box;
		padding-inline: calc(8 * var(--unit));
		width: 100%;
		min-height: calc(32 * var(--unit));
	}
}
