main.advanced-tab {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--unit-16);

	@media screen and (max-width: 550px) {
		grid-template-columns: 1fr;
	}

	.column {
		display: flex;
		flex-direction: column;
		gap: var(--unit-16);
	}

	.card-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--unit-8);
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: var(--unit-16);
		background-color: var(--panel);
		padding: var(--unit-16);
	}

	.list-section {
		display: grid;
		grid-template-columns: auto 1fr;
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: var(--unit-16);

		& > div {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1 / -1;
			gap: var(--unit-8);
			background-color: var(--panel);
			padding: var(--unit-8);
			white-space: nowrap;

			&:first-of-type {
				border-start-start-radius: inherit;
				border-start-end-radius: inherit;
			}

			&:last-of-type {
				border-end-start-radius: inherit;
				border-end-end-radius: inherit;
			}

			&:nth-of-type(even) {
				background-color: var(--panel-alt);
			}

			& > :first-child {
				display: block;
				align-self: center;
				padding-inline-start: var(--unit-8);
				min-width: 0;
				overflow: hidden;
				font-weight: inherit;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.slider-wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--unit-8);
		margin-block-start: var(--unit-8);
		width: 100%;
	}

	.colour-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--unit-8);
		margin-block-start: var(--unit-8);

		& > div {
			display: flex;
			flex-direction: column;
			gap: var(--unit-8);
		}

		.reset-button {
			transform: scale(1);
			transition-property: color, transform;
			transition-timing-function: ease;
			background-color: transparent;
			padding: 0;
			color: inherit;

			&:hover {
				transform: scale(1.04);
				color: var(--text-primary);
			}

			&:active {
				transform: scale(0.98);
				color: inherit;
			}
		}
	}

	.text-button {
		justify-content: start;
		box-sizing: border-box;
		padding-inline: var(--unit-8);
		width: 100%;
		min-height: var(--unit-32);
	}
}
