.svg {
	flex-shrink: 0;
	align-self: center;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: calc(1.5 * var(--unit));
	margin: 0;
	width: var(--unit-16);
	height: var(--unit-16);
	color: inherit;

	&.text-size {
		width: 1em;
		height: 1em;
	}
}
