.palette {
	position: relative;

	input[type="text"] {
		display: inline-block;
		vertical-align: middle;
		z-index: 10;
		box-sizing: border-box;
		outline: none;
		outline-offset: calc(-1 * var(--unit));
		border: none;
		border-radius: var(--radius, var(--unit-12));
		background-color: var(--control);
		padding-inline: var(--unit-32) var(--unit-8);
		width: 100%;
		min-width: 6em;
		height: var(--unit-32);
		color: var(--text-primary);
		line-height: 100%;
		font-family: monospace;

		&:hover {
			background-color: var(--control-hover);
		}

		&:focus-visible {
			outline: solid var(--unit) var(--control-hover);
			background-color: transparent;
		}
	}

	.preview {
		position: absolute;
		top: var(--unit-8);
		left: var(--unit-8);
		z-index: 10;
		cursor: pointer;
		outline: solid var(--unit) var(--control-hover);
		border-radius: 50%;
		width: var(--unit-16);
		height: var(--unit-16);
	}

	input[type="color"] {
		display: none;
	}
}
