button.switch {
	position: relative;
	flex: none;
	border-radius: var(--unit-8);
	background-color: var(--control);
	width: var(--unit-32);
	height: var(--unit-16);

	&:hover {
		background-color: var(--control-hover);
	}

	&:active {
		background-color: var(--control-active);
	}

	&::before {
		position: absolute;
		top: var(--unit-2);
		right: auto;
		left: var(--unit-2);
		border-radius: var(--unit-12);
		background-color: var(--panel);
		width: var(--unit-12);
		height: var(--unit-12);
		content: "";
	}

	&.active {
		background-color: var(--accent);
	}

	&.active:hover {
		background-color: var(--accent-hover);
	}

	&.active:active {
		background-color: var(--accent-active);
	}

	&.active::before {
		right: var(--unit-2);
		left: auto;
	}
}
