@import "../shared.css";

body {
	margin: 0;
	padding: 8px;
	width: 20em !important;
	color: var(--text-colour-normal);
}

.light {
	background-color: rgb(255, 255, 255);
}

.dark {
	background-color: rgb(28, 27, 34);
}

#info-display-wrapper,
#loading,
label {
	border-radius: 4px;
	display: block;
	margin: 0;
	padding: 0.5em;
	text-align: left;
}

#loading {
	text-align: center;
}

#reinstall_tip {
	animation-delay: 5s;
	animation-duration: 0s;
	animation-fill-mode: forwards;
	animation-name: appear;
	opacity: 0;
	overflow-wrap: break-word;
	white-space: normal;
}

.light label:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.light label:active {
	background-color: rgba(0, 0, 0, 0.25);
}

.dark label:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.dark label:active {
	background-color: rgba(255, 255, 255, 0.25);
}

#info-display-wrapper {
	line-height: 1.2em;
	margin-block-end: 5px;
}

.light #info-display-wrapper {
	border: 1px solid rgba(0, 0, 0, 0.13);
}

.dark #info-display-wrapper {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.info-display {
	display: none;
}

.PROTECTED_PAGE > .info-display[name="PROTECTED_PAGE"],
.HOME_PAGE > .info-display[name="HOME_PAGE"],
.TEXT_VIEWER > .info-display[name="TEXT_VIEWER"],
.IMAGE_VIEWER > .info-display[name="IMAGE_VIEWER"],
.PDF_VIEWER > .info-display[name="PDF_VIEWER"],
.ERROR_OCCURRED > .info-display[name="ERROR_OCCURRED"],
.FALLBACK_COLOUR > .info-display[name="FALLBACK_COLOUR"],
.COLOUR_PICKED > .info-display[name="COLOUR_PICKED"],
.ADDON_SPECIFIED > .info-display[name="ADDON_SPECIFIED"],
.ADDON_RECOM > .info-display[name="ADDON_RECOM"],
.ADDON_DEFAULT > .info-display[name="ADDON_DEFAULT"],
.THEME_UNIGNORED > .info-display[name="THEME_UNIGNORED"],
.THEME_MISSING > .info-display[name="THEME_MISSING"],
.THEME_IGNORED > .info-display[name="THEME_IGNORED"],
.THEME_USED > .info-display[name="THEME_USED"],
.USING_QS > .info-display[name="USING_QS"],
.COLOUR_SPECIFIED > .info-display[name="COLOUR_SPECIFIED"] {
	display: block;
}

.info-display > div {
	display: inline;
}

.additional-info {
	font-weight: 600;
}

label.info-action {
	display: block;
	margin-top: 0.5em;
	text-align: center;
}

.light .info-action {
	background-color: rgba(0, 0, 0, 0.15);
}

.light .info-action:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.light .info-action:active {
	background-color: rgba(0, 0, 0, 0.35);
}

.dark .info-action {
	background-color: rgba(255, 255, 255, 0.15);
}

.dark .info-action:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.dark .info-action:active {
	background-color: rgba(255, 255, 255, 0.35);
}

#scheme_pref_title {
	font-weight: 600;
	margin-block: 1em;
	text-align: center;
}

.tip {
	border-radius: 5px;
	display: inline-block;
	font-size: 50%;
	margin: 0;
	padding-inline: 1em;
	vertical-align: middle;
}

.light .tip {
	background-color: rgba(0, 0, 0, 0.13);
}

.dark .tip {
	background-color: rgba(255, 255, 255, 0.1);
}

hr {
	border-width: 0;
	height: 1px;
}

.light hr {
	background-color: rgba(0, 0, 0, 0.13);
	color: rgba(0, 0, 0, 0.13);
}

.dark hr {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.1);
}

.light input {
	accent-color: rgb(0, 0, 0);
	opacity: 0.75;
}

.dark input {
	accent-color: rgb(255, 255, 255);
	opacity: 0.75;
}
