@import "../shared.css";

body {
	margin: 0;
	padding: 8px;
	width: 20em !important;
	color: var(--text-colour-normal);
}

#info-display-wrapper,
#loading,
label {
	border-radius: 4px;
	display: block;
	margin: 0;
	padding: 0.5em;
	text-align: left;
}

#loading {
	text-align: center;
}

label:hover {
	background-color: var(--transparent-0);
}

label:active {
	background-color: var(--transparent-1);
}

#info-display-wrapper {
	line-height: 1.2em;
	margin-block-end: 5px;
	border: 1px solid var(--transparent-0);
}

.info-display {
	display: none;
}

.PROTECTED_PAGE > .info-display[name="PROTECTED_PAGE"],
.HOME_PAGE > .info-display[name="HOME_PAGE"],
.TEXT_VIEWER > .info-display[name="TEXT_VIEWER"],
.IMAGE_VIEWER > .info-display[name="IMAGE_VIEWER"],
.PDF_VIEWER > .info-display[name="PDF_VIEWER"],
.ERROR_OCCURRED > .info-display[name="ERROR_OCCURRED"],
.FALLBACK_COLOUR > .info-display[name="FALLBACK_COLOUR"],
.COLOUR_PICKED > .info-display[name="COLOUR_PICKED"],
.ADDON_SPECIFIED > .info-display[name="ADDON_SPECIFIED"],
.ADDON_RECOM > .info-display[name="ADDON_RECOM"],
.ADDON_DEFAULT > .info-display[name="ADDON_DEFAULT"],
.THEME_UNIGNORED > .info-display[name="THEME_UNIGNORED"],
.THEME_MISSING > .info-display[name="THEME_MISSING"],
.THEME_IGNORED > .info-display[name="THEME_IGNORED"],
.THEME_USED > .info-display[name="THEME_USED"],
.USING_QS > .info-display[name="USING_QS"],
.COLOUR_SPECIFIED > .info-display[name="COLOUR_SPECIFIED"] {
	display: block;
}

.info-display > div {
	display: inline;
}

.additional-info {
	font-weight: 600;
}

label.info-action {
	display: block;
	margin-top: 0.5em;
	text-align: center;
	background-color: var(--transparent-0);
}

label.info-action:hover {
	background-color: var(--transparent-1);
}

label.info-action:active {
	background-color: var(--transparent-2);
}

hr {
	border-width: 0;
	height: 1px;
	background-color: var(--transparent-0);
	color: var(--transparent-0);
}

input {
	accent-color: var(--text-colour-normal);
	opacity: 0.75;
}
