main.advanced-tab {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(16 * var(--unit));

	@media screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	.column {
		display: flex;
		flex-direction: column;
		gap: calc(16 * var(--unit));
	}

	.card-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: calc(8 * var(--unit));
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: calc(16 * var(--unit));
		background-color: var(--panel);
		padding: calc(16 * var(--unit));
	}

	.list-section {
		display: grid;
		grid-template-columns: auto 1fr;
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: calc(16 * var(--unit));
		overflow: hidden;

		& > div {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1 / -1;
			gap: calc(8 * var(--unit));
			background-color: var(--panel);
			padding: calc(8 * var(--unit));
			white-space: nowrap;

			&:nth-of-type(even) {
				background-color: var(--panel-alt);
			}

			& > :first-child {
				display: block;
				align-self: center;
				padding-inline-start: calc(8 * var(--unit));
				min-width: 0;
				overflow: hidden;
				font-weight: inherit;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.text-button {
		justify-content: start;
		vertical-align: text-bottom;
		gap: calc(8 * var(--unit));
		box-sizing: border-box;
		padding-inline: calc(8 * var(--unit));
		width: 100%;
		min-height: calc(32 * var(--unit));
	}
}
