.toggle {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	border-radius: var(--component-border-radius, calc(12 * var(--unit)));
	width: 100%;
	height: auto;
	overflow: hidden;

	button {
		box-shadow: none;
		border-radius: 0;
		background-color: var(--control);

		&:hover {
			background-color: var(--control-hover);
		}

		&.selected {
			background-color: var(--control-selected);
			color: var(--accent);

			&:hover {
				background-color: var(--control-selected-hover);
			}
		}
	}

	&.tab-toggle {
		box-shadow: var(--shadow-small), var(--shadow-large);
		border-radius: calc(16 * var(--unit));
		font-weight: 800;

		button {
			background-color: var(--panel);
			padding: calc(8 * var(--unit)) calc(32 * var(--unit));

			&:hover {
				background-color: var(--panel-hover);
			}

			&.selected {
				background-color: var(--panel-selected);
				color: var(--accent);

				&:hover {
					background-color: var(--panel-selected-hover);
				}
			}
		}
	}
}
