.rule-widget {
	display: flex;
	flex-direction: column;
	gap: var(--unit-8);
	border: var(--unit) solid var(--app-1);
	border-radius: var(--unit-16);
	padding: var(--unit-8);

	.info-message {
		strong {
			padding-inline: var(--unit-4);
		}
	}

	button {
		justify-content: center;
		height: var(--unit-32);

		&.control-button {
			border-radius: var(--unit-8);
		}
	}
}
