.correction-widget {
	border: 1px solid var(--transparent-0);
	border-radius: var(--unit-4);
	padding: var(--unit-8);

	svg {
		display: inline-block;
		vertical-align: text-bottom;
		padding-inline-end: var(--unit-4);
		width: auto;
		height: 1em;
	}
}
